// Variable overrides
// https://github.com/coreui/coreui/blob/master/scss/_variables.scss

$primary:#97B834 !default;

$sidebar-width: 280px !default;

$sidebar-bg: #595A5D !default;

$sidebar-header-height: 100px !default;

$navbar-brand-width: 150px !default;
$navbar-height: 90px !default;

$sidebar-nav-link-hover-color: #fff !default;
$sidebar-nav-link-hover-bg: theme-color("primary") !default;
